.venv
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
*.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg-info/
*.eggs/
*.manifest
*.spec
*.lock
*.mypy_cache/
*.pytest_cache/
*.cache/
*.env.*
.vscode/
.idea/
.DS_Store
node_modules/
staticfiles/
media/
.env.local
.env.prod
.env.dev
.env.test
.venv